
<div id="home" class="container-fluid bg-1 text-center">
  <div class="row">

    <div class="col-sm-12 text-center">  
	<div class="thumbnail">
	<div class="jumbotron col-sm-10 col-sm-offset-1 text-center">
		<%= image_tag('logo.jpg', style: 'height: auto', align: "center") %>   
	</div>


		<br><br>


<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
	<h3>What is RPM?</h3>
	  <p>Soma ® Rapid Prompting Method is an educational method that empowers the student to express themselves through learning, understanding, reasoning, and thought. It uses the student's individual learning channels in order to inspire the student, leading to communication. </p>
    </div>
  </div>
</div>

		<br><br>
<div class="container-fluid bg-1 text-center">
  <div class="row">

    <div class="col-sm-8 col-sm-offset-2">

<div class="jumbotron text-center">
<div id="carousel" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('4.jpg', style: 'height: auto', align: "center") %>     
      </div>
 
<div class="item">
        <%= image_tag('3.jpg', style: 'height: auto', align: "center") %>     
      </div>

<div class="item">
        <%= image_tag('1.jpg', style: 'height: auto', align: "center") %>     
      </div>

      <div class="item">
        <%= image_tag('6.jpg', style: 'height: auto', align: "center") %>     
      </div>

	<div class="item">
        <%= image_tag('7.jpg', style: 'height: auto', align: "center") %>     
      </div>
    </div>
	</div>
    </div>
</div>


		<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Who can benefit from RPM?</h3>
      <p>RPM is for persons with autism and related disorders. It is beneficial for students of varying verbal abilities, including verbal, limited verbal echolalic, unreliably verbal, and nonverbal students. </p>
<br>
	<p><strong>For more information on RPM please visit <a target="_blank" href="http://www.halo-soma.org">www.halo-soma.org</a></strong></p>

    </div>
  </div>
</div>

<br>


  </div>
</div>

  </div>
</div>
